*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

/*fonts */
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Bangers', cursive;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Open Sans', sans-serif;
/*fonts */



.name{
	color: red;
	text-align: right;
	margin-right: 20vh;

}

/* Start of Front Page CSS*/

.frontPage{
	height: 100vh;
	color: black;
	background: url(../images/island.jpeg);
	background-size: cover;
	/*background-repeat: no-repeat;*/
/*	background-position: top;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.frontPage >div> h1 > span{	
	font-family: 'Permanent Marker', cursive;
	font-size: 10vh;
	text-shadow: 2px 2px red;
}

.frontPage >div > h2{
	font-family: 'Bowlby One SC', cursive;
	font-size: 5vh;

}

.frontPage > .landing-button > a{
	text-decoration: none;
	font-size: 3vh;
	color: black;
	height: 10vh;
}

.frontPage > .landing-button{
	position: absolute;
	border-radius: 10vh;
	background-color: transparent;
	height: 10vh;
	text-decoration: none;
	width:30vw;
	top: 80vh;
	left: 65vw;
	animation-name: colorChange;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	transition: .3;
	border-color: black;

}
@keyframes colorChange {
	40%{
		left: 68vw;
	}

}
.frontPage > .landing-button:hover{
	-webkit-box-shadow: 0px 0px 7px 2px rgba(237,71,93,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(237,71,93,1);
	box-shadow: 0px 0px 7px 2px rgba(237,71,93,1);
}


/*	End of Front Page CSS*/
/* Start of Home CSS*/
#home{

	display: flex;
	height: 100vh;
	background-color: lightsalmon;
/*	position: relative;*/
}
/* Start of homeContent CSS*/


.home > .home-left{
	margin-top: 5vh;
	width: 80vw;
	background: url(../images/bg1.jpg);
	background-size: cover;
	border-radius: 0 10vw 0 0;
	-webkit-box-shadow: 3px -3px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px -3px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 3px -3px 5px -2px rgba(0,0,0,0.75);
	position: relative;
	z-index: 10;
	
}

.home > .home-left > .motto {
	position: absolute;
	left: 41vw;
	top: 13vh;
}

.home > .home-left > .main-info{
	text-align: center;
	justify-content: center;
	margin-top: 12%;
	margin-left: 35vw;
}

.home > .home-left > .main-info > img, .contact-me > .contact > div > img{
	height: 40vh;
	width: 20vw;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
	border-radius: 25%;
}



.home > .home-left > .main-info > #anonymous {
	font-size: 60px;
}
	/*	anonymous animation*/
		#anonymous > #animate{
			animation-duration: 4s;
			animation-iteration-count: infinite;
			transition: .2;
			}
		#anonymous > .a {
			animation-name: textA;
			}
			@keyframes textA {
				0%{
				text-transform: uppercase;
				}
			}
		#anonymous > .n {
			animation-name: textn;
			}
			@keyframes textn {
			12.5%{
				text-transform: uppercase;
			}
			}
		#anonymous > .o {
			animation-name: texto;
			}
			@keyframes texto {
			25%{
				text-transform: uppercase;
			}
			}
		#anonymous > .nn {
			animation-name: textnn;
			}
			@keyframes textnn {
			37.5%{
				text-transform: uppercase;
			}
			}
		#anonymous > .y {
			animation-name: texty;
			}
			@keyframes texty {
			50%{
				text-transform: uppercase;
			}
			}
		#anonymous > .m {
			animation-name: textm;
			}
			@keyframes textm {
			62.5%{
				text-transform: uppercase;
			}
			}
		#anonymous > .oo {
			animation-name: textoo;
			}
			@keyframes textoo {
			75%{
				text-transform: uppercase;
			}
			}
		#anonymous > .u {
			animation-name: textu;
			}
			@keyframes textu {
			87.5%{
				text-transform: uppercase;
			}
			}
		#anonymous > .s {
			animation-name: texts;
			}
			@keyframes texts {
			100%{
				text-transform: uppercase;
			}
			}

		/*	End of Anonymous animation 	*/


.home > .home-right{
	width: 19vw;

}

.home > .home-right > .name-top{
	background: none;
	height: 30vh;
	text-align: center;
	display: flex;
	flex-direction: column;

	
}



.home > .home-right > .name-top > .navList > h1{
	margin-top: 20px;
	font-size: 50px;
}
.home > .home-right > .name-top > .navList > ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-top: 5vh;

	
}


.home > .home-right > .name-top > .navList > ul > li{
	font-size: 20px;
	margin: 10px;

	
}
.home > .home-right > .name-top > .navList > ul > li > a{
	text-decoration: none;
	color: black;
}


/*#navBar{
	position: sticky;
	top: 0;
	
}*/

.home > .home-right > .name-top > nav > ul > li{
	margin: 10px;

}


.home > .home-right > .name-bottom{
	background-color: white;
	height: 70vh;
	width: 19vw;
	border-top: 1px solid;

}
.aboutMenu > a {
	text-decoration: none;
	color: black;

}
.aboutMenu{
	visibility: hidden;
	background-color: lightsalmon;
	border-radius: 10px;
	position: relative;
	z-index: 100;
}
#about:hover > .aboutMenu, #about > .aboutMenu:hover{
	visibility: visible;
	/*z-index: 100;*/
}
.aboutMenu > a:hover{
	background-color: white;
	border-radius: 5px;
}


.home > .home-right > .name-bottom > .introduction{
	margin-top: 25vh;
}

.home > .home-right > .name-bottom > .introduction > li{
/*	list-style-type: none;*/
	margin-left: 25px;
	margin-top: 30px;
}





/* End of Home  CSS*/


/*	Start of App CSS*/
.app{
	height: 100vh;
	background-color: white;
	position: relative;
	border-top: 1px solid;
	border-bottom: 1px solid;

}
.app > .programs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.app > .programs > h1 {
	margin-top: 5vh;
	font-size: 10vh;
}

.app > .programs > div{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	width: 80vw;
	margin-top: 10vh;

}
.logo > img {
	height: 10vh;
	width: 10vh;
	margin: 1vw;
}

.app > .programs > div > .logo{
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;	
}

.app > .programs > div > .logo-info{
/*	border: solid;*/
	width: 40vw;

}

.app > .programs > div > .logo-info > ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
/*	align-items: center;*/
	margin-top: 2vh;
	margin-left: 15vw;
	

}

.app > .programs > div > .logo-info > ul > li > a{
	text-decoration: none;
	color: black;
}
.app > .programs > div > .logo-info > ul > li > a:hover{
	color: white;
	background-color: black;
	border-radius: 5px;
}

/*.app > .menu-info > .html-info > p{
	margin-top: 66vh;
	border: solid;
	height: 15vh;
	border-radius: 2vh;
}


.app >  .menu-info >.css-info{
	position: absolute;
	height: 90vh;
	top: 0;
}
.app >  .menu-info >.css-info > p{
	margin-top: 66vh;
	border: solid;
	height: 20vh;
	border-radius: 2vh;
}*/


/*	Start of new app section Tabset*/
	/*	#app {
  			padding: 30px;
			}*/

		.appTabset {
			margin-left: 120px;

		}
		
		.appTabset > input[type="radio"] {
  		position: absolute;
 		 left: -200vw;
		}

		.appTabset .tab-info{
  		display: none;
		}

		.appTabset > input:first-child:checked ~ .tab-infos > .tab-info:first-child,
		.appTabset > input:nth-child(3):checked ~ .tab-infos > .tab-info:nth-child(2),
		.appTabset > input:nth-child(5):checked ~ .tab-infos > .tab-info:nth-child(3),
		.appTabset > input:nth-child(7):checked ~ .tab-infos > .tab-info:nth-child(4),
		.appTabset > input:nth-child(9):checked ~ .tab-infos > .tab-info:nth-child(5),
		.appTabset > input:nth-child(11):checked ~ .tab-infos > .tab-info:nth-child(6) {
  		display: block;
		}

		.appTabset {
 			 max-width: 65em;
		}

		.appTabset > label {
		  position: relative;
		  display: inline-block;
		  padding: 15px 15px 25px;
		  border: 1px solid transparent;
		  border-bottom: 0;
		  cursor: pointer;
		  font-weight: 600;
		}

		.appTabset > label::after {
		  content: "";
		  position: absolute;
		  left: 15px;
		  bottom: 10px;
		  width: 22px;
		  height: 4px;
		  background: #8d8d8d;
		}

		.appTabset > label:hover,
		.appTabset > input:focus + label {
		  color: #06c;
		}

		.appTabset > label:hover::after,
		.appTabset > input:focus + label::after,
		.appTabset > input:checked + label::after {
		  background: #06c;
		}

		.appTabset > input:checked + label {
		  border-color: #ccc;
		  border-bottom: 1px solid #fff;
		  margin-bottom: -1px;
		}

		.tab-info {
		  padding: 30px 0;
		  border-top: 1px solid #ccc;
		}





/*	End of new app section Tabset*/







/*	End of new app section Tabset*/










/*	End of App CSS*/


/* Start of Info CSS*/

#contact-me {
	height: 100vh;
	background-color: lightsalmon;
	border-top: solid;

}

.contact-me > h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5vh;
	font-size: 6vh;


}

.contact-me > .contact{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 83vh;

}

.contact-me > .contact > div > .form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 31vw;
	height: 40vh;
}

.contact-me > .contact > div > .form > input, textarea{
	height: 7vh;
	width: 30vw;
	border-radius: 10vh;
	display: flex;
	justify-content: center;
	text-align: center;
	border: solid;
	margin-top: 10px;
}
.contact-me > .contact > div > .form > textarea{
	height: 15vh;
}

.contact-me > .contact > .contact-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.contact-me > .contact > div > .form > .btn-form{
	background-color: black;
	color: white;
	width: 10vw;
	height: 5vh;
	border: solid black;
	border-radius: 2vh;
	margin-left: 22vh;
	margin-top: 1vh;
}
.contact-me > .contact > div > .form > .btn-form:hover{
	background-color: white;
	color: black;

}





/* End of lets discuss CSS*/


/*	Start of Footer CSS*/

.footer{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	position: relative;
}
.footer > p{
	font-size: 13px;
	color: white;
	margin-left: 55vw;
}

.footer > .social-media > a{
	text-decoration: none;
	color: white;
	margin: 0 0.5rem;

}
.footer > .zuitt {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

}

.footer > .zuitt > a > img{
	height: 5vh;
	width: 3vw;
	margin-right: 2vw;

}
.footer > .zuitt > a > img:hover{
	-webkit-box-shadow: 0px 0px 7px 2px rgba(245,242,245,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(245,242,245,1);
	box-shadow: 0px 0px 7px 2px rgba(245,242,245,1);

}

.footer > .zuitt  > p{
	color: white;
}
.footer > .social-media{
	margin-left: 10vh;
}
.footer > .social-media > a > i:hover{
	-webkit-box-shadow: 0px 0px 7px 2px rgba(245,242,245,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(245,242,245,1);
	box-shadow: 0px 0px 7px 2px rgba(245,242,245,1);
}


/*	End of Footer CSS*/



/*	Start of Home Responsiveness*/


	/*@media only screen and (min-width: 1100px) and (max-width: 1500px) {}*/
		/*	Front page responsiveness	*/ 
		

	/* Iphone6/7/8 responsiveness*/
		/*	vertical-align: */

		@media only screen and (max-width: 415px) {
		/*	Front page responsiveness	*/ 
			.fronPage{
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			}

			.frontPage > div > h1{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.frontPage >div> h1 >span{
			font-size: 8vh;
			
			}
			.frontPage >div> h2{
				font-size: 3vh;
				margin-left: 4vw;
			}

			.frontPage > .landing-button{
				width: 83vw;
				left: 5vw;
				top: 85vh;
				animation-name: colorChange;
				animation-duration: 3s;
				animation-iteration-count: infinite;
				transition: .3;
				border-color: black;
			}
				@keyframes colorChange {
					40%{
					left: 12vw;
					}

				}

		/*	End of Front page responsiveness*/

		/*	Start of Home Responsiveness*/

		#home{
			flex-direction: column-reverse;
			}

		#home > .home-left{
			height: 90vh;
			width: 68vw;
			/*border: 5vh;*/
			margin-right: 0;
			margin-left: 32vw;
			border-radius: 20px 0 0 0;
			-webkit-box-shadow: -3px -3px 6px -2px rgba(3,3,3,1);
			-moz-box-shadow: -3px -3px 6px -2px rgba(3,3,3,1);
			box-shadow: -3px -3px 6px -2px rgba(3,3,3,1);
			}

		#home > .home-left > .main-info {
			position: absolute;
			height: 70vh;
			width: 69vw;
			top: 10vh;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			}
		#home > .home-left > .main-info > img{
			height: 20vh;
			width: 20vw;
			}

		#home > .home-left > .main-info > #anonymous > span{
			font-size: 3vh;
			}

		#home > .home-left > .motto{
			font-size: 2vh;
			top: 10vh;
			left: 15vw;
			display: flex;
			justify-content: center;
			align-items: center;
			/*border: solid;*/
			height: 20vh;
			width: 40vw;
			}



		.home > .home-right{
		
			width: 100vw;
			height: 10vh;
			}

		.home > .home-right > .name-top{
			height: 5vh;
			width: 100vw;
			margin-top: 0;
			}
		.home > .home-right > .name-top > .navList > h1{
			margin-top: 2vh;
			font-size: 5vh;
			}

		.home > .home-right > .name-top > .navList > ul{
				margin-top: 0;
			
			}
		#home > .home-right > .name-top > .navList > ul> .about {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			}

		.home > .home-right > .name-bottom{
			height: 80vh;
			width: 32vw;
			margin-top: 15vh;
			}
		
		.app > .programs > h1{
			font-size: 5vh;
			}
		.app > .programs > div{
			margin-top: 1vh;
			height: 25vh;
			}
		.app > .appTabset{
			/*padding: -10vh;*/
			margin-top: 0;
			margin-left: 1vw;
		/*	border-top: -10vh;*/
			}

		.app > .appTabset > .tab-infos > .tab-info{
			padding: 0;
			overflow-y: scroll;
			}


		#contact-me > .contact {
			flex-direction: column-reverse;
			position: relative;
			height: 83vh;
			border-top: 0vh;
			margin-top: 0;
			}
		#contact-me > .contact > .contact-right{
			margin-top: 0;
			}

		#contact-me > .contact > .contact-right > img {
			height: 20vh;
			width: 30vw;
			margin-top: 0;

			}
		#contact-me > .contact > .contact-right > h1{
			margin-top: 1vh;
			}

		#contact-me > .contact > div > .form{
			width: 80vw;
			margin-top: 0;
			left: 0;

			}

		#contact-me > .contact > div > .form > input, textarea {
			width: 80vw;
			}
		#contact-me > .contact > div > .form > .btn-form{
			width: 30vw;
			margin-left: 25vw;
			}

		.footer > p{
			font-size: 1vh;
			}
		.footer > .social-media{
			margin-right: 10vh;
			margin-left: 0;
			}
		.footer > .zuitt > p{
			font-size: 2vh;
			}
		.footer > .zuitt{
			width: 80vw;
			left: 2vh;
			}
	}

	/*	End of iphone vertical*/

	/*	Start of iphone horizontal*/

	@media only screen and (min-width: 550px) and (max-width: 760px) {
		.frontPage > .landing-button{
			width: 28vw;
		}

		#home{
			height: 100vh;
		}
		#home > .home-left > .motto{
			position: absolute;
			top: 7vh;
			height: 7vh;
			width: 40vw;
		}
		#home > .home-left > .motto > h1{
			font-size: 3vh;
			width: 40vw;
		}

		#home > .home-left > .main-info{
			margin-top: 25vh;
		}
		#home > .home-left > .main-info > img{
			height: 25vh;
		}
		#home > .home-left > .main-info > #anonymous{
			font-size: 7vh;
		}
		#home > .home-right{
			width: 20vw;
			/*border: solid;*/
		}
		#home > .home-right > #navBar > .navList > h1{
			font-size: 7vh;
		}
		#home > .home-right > #navBar > .navList > ul > li{
			margin: 1vh;
			font-size: 3vh;
		}
		#home > .home-right > #navBar > .navList > ul > #about{
			width: 5vw;
		}
		#home > .home-right > #navBar > .navList > ul > #about > .aboutMenu{
			width: 10vw;
			left: -2.5vw;
		}
		#home > .home-right > .name-bottom {
			width: 20vw;
		}
		#home > .home-right > .name-bottom > .introduction {
			margin-top: 7vh;
		}
		#home > .home-right > .name-bottom > .introduction > li{
			font-size: 4vh;
		}

		.app > .programs > h1{
			font-size: 5vh;
		}
		.app > .programs > div{
		
			margin-top: 2vh;
			height: 25vh;
		}
			
		.app > .programs > div > .logo-info >ul{
			display: inline-flex;
		}

		.app > .programs > div > .logo-info >ul >li{
			font-size: 3vh;
		}

	

		.app > .appTabset{
			margin-top: 5vh;
			width: 90vw;
			margin-left: 5vw;
		}
		.app > .appTabset > label{
			font-size: 3vh;
			height: 6vh;
			width: 10vw;
			padding: 2vh;
		}
		
		.appTabset > label::after {
		  content: "";
		  position: absolute;
		  left: 40px;
		  bottom: 5px;
		  width: 18px;
		  height: 4px;
		  background: #8d8d8d;
		}

		.app > .appTabset > .tab-infos > .tab-info{
			font-size: 3vh;
		}


		.contact-me > .contact > div > .form{
			height: 60vh;
			display: flex;
		}
		.contact-me > .contact > div > .form > textarea {
			height: 20vh;
			width: 40vw;
			margin-top: 0;

		}
		.contact-me > .contact > div > .form >input{
			margin: 0;
			width: 40vw;
		}
		.contact-me > .contact > div > .form > .btn-form{
			height: 6vh;
			margin-left: 15vw;
		}

		.footer > .social-media {
			margin-right: 45vw;
			/*border: solid white;*/
			margin-left: 0;
		}
		.footer > p{
			/*border: solid white;*/
			margin: 0;
			height: 6vh;
			font-size: 2vh;
			margin-left: 5vh;
		}
		.footer > .zuitt{
			left: 23vw;
		}
		.footer > .zuitt > p{
			font-size: 3vh;
		}





	}



	/*	End of iphone horizontal*/


	/* IPAD responsiveness*/


	/*	End of Responsiveness*/



